.card {
    @apply border border-dark bg-dark rounded-xl;
}

.card-body {
    @apply p-3 md:p-6;
}

.card-dark {
    @apply bg-card-dark;
}

.card-base {
    @apply bg-dark;
}

.card-special {
    @apply bg-cover bg-center;
    background-image: radial-gradient(circle at center, rgba(var(--color-muted-dark), 0.5) 0%, rgb(var(--color-darker)) 90%);
}

.card-title {
    @apply text-5xl font-medium;
}

.card-title-sm {
    @apply text-light text-4xl font-medium;
}

.card-subtitle {
    @apply text-xl font-medium text-dark mt-4;
}

.card-transparent {
    @apply bg-transparent bg-transparent-card-gradient backdrop-blur-xs;
}
