$color-border: #463231;
$color-border-muted: #2B2322;

$color-primary-light: #FBC67E;
$color-primary: #FF9401;
$color-dark: #19100F;
$color-darker: #110807;
$color-light: #DCE3F5;
$color-muted: #582D24;
$color-muted-dark: #220B05;
$color-text-dark: #553E3D;
$color-card-dark: #110807;
$color-danger: #E65100;

@layer base {
    :root {
      --color-border: 70, 50, 49;
      --color-border-muted: 43, 35, 34;
      --color-primary-light: 251, 198, 126;
      --color-primary: 255, 148, 1;
      --color-dark: 25, 16, 15;
      --color-darker: 17, 8, 7;
      --color-darkest: 13, 2, 0;
      --color-light: 220, 227, 245;
      --color-muted: 88, 45, 36;
      --color-muted-dark: 34, 11, 5;
      --color-text-dark: 102, 78, 77;
      --color-card-dark: 17, 8, 7;
      --color-danger: 230, 81, 0;
    }
  }