@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-satoshi: "Satoshi";

  --color-border: rgb(219, 222, 236);
  --color-border-muted: rgb(43, 35, 34);
  --color-primary-light: rgb(39, 117, 202);
  --color-primary-light-transparent: rgba(39, 117, 202, 0.5);
  --color-primary: rgb(41, 35, 59);
  --color-secondary: rgb(134, 86, 239);
  --color-dark: rgb(25, 16, 15);
  --color-darker: rgb(17, 8, 7);
  --color-lighter: rgb(248, 249, 255);
  --color-light: rgb(238, 239, 247);
  --color-muted: rgb(88, 45, 36);
  --color-muted-dark: rgb(34, 11, 5);
  --color-text-dark: rgb(102, 78, 77);
  --color-card-dark: rgb(17, 8, 7);
  --color-danger: rgb(230, 81, 0);

  --animate-fade-in-scale: fade-in-scale 0.125s ease-out;

  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: translateY(-5px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border);

    @variant dark {
      border-color: var(--color-dark);
    }
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .text-dark {
    @variant dark {
      color: var(--color-text-dark);
    }
  }
}

@layer components {
  .card {
    @apply rounded-4xl bg-lighter border;

    @variant dark {
      @apply bg-darker;
    }
  }

  .card-transparent {
    @apply backdrop-blur-xl bg-lighter/70;

    @variant dark {
      @apply bg-darker/70;
    }
  }

  @media screen and (max-width: 64rem) {
    .card-transparent {
      @apply backdrop-blur-none bg-light;

      @variant dark {
        @apply bg-darker;
      }
    }
  }

  .card-body {
    @apply p-6;
  }

  .btn {
    @apply px-3 py-2 text-light border rounded-2xl cursor-pointer;
  }

  .btn-primary {
    @apply bg-primary text-light;

    &:disabled {
      @apply bg-primary/60 cursor-not-allowed;
    }
  }

  .btn-xl {
    @apply py-5 text-xl;
  }

  .form-control {
    @apply bg-lighter p-3 text-xl w-full rounded-2xl border outline-none;

    @variant dark {
      @apply bg-darker text-light;
    }
  }
}
